[tool.pylint.MESSAGE_CONTROL]
disable=
    bad-continuation,
    no-else-return,
    too-few-public-methods,
    line-too-long,
    duplicate-code,
    import-error,
    unused-argument,
    no-self-use,
    import-outside-toplevel,
    too-many-instance-attributes,
    no-member,
    W0511,
    R0914,
    R0913,
    C0114,
    C0111,
    C0103,
    R0904

[tool.pylint.REPORTS]
reports=no

[tool.pylint.FORMAT]
max-line-length=79
