# CircleCI jobs are only enabled to on Pull Requests and commits to master branch.
# "Only build pull requests" enabled in Project's Advanced Settings.
version: 2.1
orbs:
  slack: circleci/slack@4.4.2
  python: circleci/python@2.1.0

jobs:
  build_test:
    docker:
      # Important: Don't change this otherwise we will stop testing the earliest
      # python version we have to support.
      - image: python:3.7-bullseye
    resource_class: medium
    parallelism: 6
    steps:
      - checkout # checkout source code to working directory
      - run:
          name: Install Basic Environment Dependencies
          command: | # install dependencies
            echo $PWD
            apt-get update
            apt-get -y install curl libgeos-dev
            pip install --upgrade pip
            pip install poetry
      - python/install-packages:
            pkg-manager: poetry
            include-python-in-cache-key: false
      - run:
          name: Test Imports (extras need to be guarded!)
          command: | # Make sure that importing works without extras installed
            poetry run python -c 'import nucleus'
      - python/install-packages:
            pkg-manager: poetry
            args: -E metrics -E launch
            include-python-in-cache-key: false
      # - run:
      #     name: Black Formatting Check # Only validation, without re-formatting
      #     command: |
      #       poetry show black
      #       poetry run black --check .
      - run:
          name: Ruff Lint Check # See pyproject.toml [tool.ruff]
          command: |
            poetry run ruff .
      - run:
          name: Pylint Lint Check # Uses .pylintrc for configuration
          command: |
            poetry run pylint nucleus
      - run :
          name: MyPy typing check
          command: |
            poetry run mypy --ignore-missing-imports nucleus
      - run :
          name: Isort Import Formatting Check # Only validation, without re-formatting
          command: |
            poetry run isort --check-only .
      - run:
          name: Pytest Test Cases
          command: | # Run test suite, uses NUCLEUS_TEST_API_KEY env variable
            mkdir test_results
            set -e
            TEST_FILES=$(circleci tests glob "tests/**/test_*.py")
            echo "$TEST_FILES" | circleci tests run --command "xargs poetry run coverage run --include=nucleus/* -m pytest -s -v -o junit_family=legacy --junitxml=test_results/junit.xml" --verbose --split-by=timings
            poetry run coverage report
            poetry run coverage html
      - store_test_results:
          path: htmlcov
      - store_test_results:
          path: test_results
      - store_artifacts:
          path: test_results
      - slack/notify:
          branch_pattern: master
          event: fail
          template: basic_fail_1

  pypi_publish:
    docker:
      - image: cimg/python:3.7
    steps:
      - checkout # checkout source code to working directory
      - run:
          name: Validate Tag Version # Check if the tag name matches the package version
          command: |
            PKG_VERSION=$(sed -n 's/^version = //p' pyproject.toml | sed -e 's/^"//' -e 's/"$//')
            if [[ "$CIRCLE_TAG" != "v${PKG_VERSION}" ]]; then
                echo "ERROR: Tag name ($CIRCLE_TAG) must match package version (v${PKG_VERSION})."
                exit 1;
            fi
      - run:
          name: Validate SDK Version Increment # Check if the version is already on PyPI
          command: |
            PKG_VERSION=$(sed -n 's/^version = //p' pyproject.toml | sed -e 's/^"//' -e 's/"$//')
            if pip install "scale-nucleus>=${PKG_VERSION}" > /dev/null 2>&1;
            then
                echo "ERROR: You need to increment to a new version before publishing!"
                echo "Version (${PKG_VERSION}) already exists on PyPI."
                exit 1;
            fi
      - run:
          name: Build
          command: | # install env dependencies
            poetry build
      - run:
          name: Publish to PyPI
          command: |
            if test -z "${PYPI_USERNAME}" || test -z "${PYPI_PASSWORD}" ; then
                echo "ERROR: Please assign PYPI_USERNAME and PYPI_PASSWORD as environment variables"
                exit 1
            fi
            poetry publish --username=$PYPI_USERNAME --password=$PYPI_PASSWORD
  test_client_installation:
    parameters:
      python_version:
        type: string
    docker:
      - image: cimg/python:<<parameters.python_version>>
    steps:
      - checkout
      - run:
          command: |
            pip install --upgrade pip
          name: Upgrade pip
      - run:
          command: |
            poetry build
          name: Build the package
      - run:
          name: Install - no extras
          command: |
            export FOUND_PKG=$(find ./dist -name "*.tar.gz")
            pip install $FOUND_PKG
            python -c 'import nucleus'
      - run:
          name: Install with extra metrics
          command: |
            export FOUND_PKG=$(find ./dist -name "*.tar.gz")
            pip install "$FOUND_PKG[metrics]"
            python -c 'import nucleus'
      - run:
          name: Install with extra launch
          command: |
            export FOUND_PKG=$(find ./dist -name "*.tar.gz")
            pip install "$FOUND_PKG[launch]"
            python -c 'import nucleus'
      - run:
          name: Install with extra launch and metrics
          command: |
            export FOUND_PKG=$(find ./dist -name "*.tar.gz")
            pip install "$FOUND_PKG[metrics, launch]"
            python -c 'import nucleus'
workflows:
  installation_matrix:
    jobs:
      - test_client_installation:
          matrix:
            parameters:
              python_version: ['3.7', '3.8', '3.9', '3.10', '3.11']
          context: Nucleus
  build_test_publish:
    jobs:
      - build_test:
          context: Nucleus
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/ # Runs only for tags with the format [v1.2.3]
      - pypi_publish:
          requires:
            - build_test
          filters:
            branches:
              ignore: /.*/ # Runs for none of the branches
            tags:
              only: /^v\d+\.\d+\.\d+$/ # Runs only for tags with the format [v1.2.3]

